body{
    font-family: "Gill Sans";
    background-color: none;
}
#scanbackground{
    background-color: rgba(217, 144, 102, 1.0);
    width: 375px;
    height: 667px;

}
#scannerforimage{
    background-color: rgba(217, 144, 102, 1.0);
    width: 283px;
    height: 310px;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.5);
    position: relative;
    float: left;
    margin-top: 59px;
    margin-left: 47px;
}
#uploadbutton{
    width: 287px;
    height: 52px;
    background-color: #2B5FBF;
    border-radius: 100px;
    position: relative;
    float: left;
    margin-left: 44px;
    margin-top: 16px;
}h4{
     width: 238.37px;
     height: 25px;
     font-family: "Avenir Next";
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     line-height: 25px;
     color: #FFFFFF;
    margin: 0 auto;
    margin-top: 15px;
 }
 h3{
     width: 238.37px;
     height: 25px;
     font-family: "Avenir Next";
     font-size: 18px;
     font-weight: bold;
     text-align: center;
     line-height: 25px;
     color: #FFFFFF;
     margin: 0 auto;
     margin-top: 13px;
 }
#continuebutton{
    width: 287px;
    height: 52px;
    background-color: #2B5FBF;
    border-radius: 100px;
    position: relative;
    float: left;
    margin-left: 44px;
    margin-top: 30px;
}
h5{
    width: 177.7px;
    font-family: "Gill Sans";
    font-size: 36px;
    text-align: center;
    line-height: 41px;
    letter-spacing: 1px;
    color: #141313;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 103px;
}
#scanneditemholder{
    height: 675px;
    width: 375px;
}
#imageholder{
    width: 372px;
    height: 376px;
    position: relative;
    float: left;
    margin-top: -35px;

}
#scannersinfo{
    width: 226px;
    height: 106px;
    /*background-color: #0b2c89;*/
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    border: 1px solid #979797;
    border-radius: 3px;
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 75px;
}
input{
    height: 100px;
    width: 226px;
}
#scanner{
    background-color: white;
}
